header {
  padding-block: 2rem; /* adiciona um espaço em cima e em baixo! */

  & img {
    width: 7.5rem;
  }

  & h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: .5rem;
  }

  & ul#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 17.5rem;
    margin-top: 2rem;

    & li {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    & img {
      width: 1.5rem;
    }
  }
}

@media (width >= 80em) {
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font: var(--text-md);
  }

  header #profile {
    display: flex;
    gap: 32px;
  }

  #profile > div {
    max-width: 384px;
  }

  #profile > img {
    width: 150px;
  }
}